.python-container {
    margin: 20px;
}


.course-card {
    margin-top: 30px;
    margin-bottom: 30px;


}

.code-example, .code-output {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: monospace;
    color: #333;
}



.code-example {
    margin-bottom: 5px;
}
